In [2]:
import pandas as pd

In [24]:
department  = pd.read_csv('Data/departments.csv')
dept_employees = pd.read_csv('Data/dept_emp.csv')
manager = pd.read_csv('Data/dept_manager.csv')
employees = pd.read_csv('Data/employees.csv')
salaries = pd.read_csv('Data/salaries.csv')
titles = pd.read_csv('Data/titles.csv')

In [29]:
department.nunique()

dept_no      9
dept_name    9
dtype: int64

In [17]:
department.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   dept_no    9 non-null      object
 1   dept_name  9 non-null      object
dtypes: object(2)
memory usage: 272.0+ bytes

In [33]:
dept_employees.nunique()

emp_no       300024
dept_no           9
from_date      6393
to_date        6085
dtype: int64

In [18]:
dept_employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331603 entries, 0 to 331602
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   emp_no     331603 non-null  int64
 1   dept_no    331603 non-null  object
 2   from_date  331603 non-null  object
 3   to_date    331603 non-null  object
dtypes: int64(1), object(3)
memory usage: 10.1+ MB

In [28]:
manager.nunique()

dept_no       9
emp_no       24
from_date    16
to_date      16
dtype: int64

In [25]:
manager.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   dept_no    24 non-null     object
 1   emp_no     24 non-null     int64
 2   from_date  24 non-null     object
 3   to_date    24 non-null     object
dtypes: int64(1), object(3)
memory usage: 896.0+ bytes

In [30]:
employees.nunique()

emp_no        300024
birth_date      4750
first_name      1276
last_name       1638
gender             2
hire_date       5434
dtype: int64

In [21]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300024 entries, 0 to 300023
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   emp_no      300024 non-null  int64
 1   birth_date  300024 non-null  object
 2   first_name  300024 non-null  object
 3   last_name   300024 non-null  object
 4   gender      300024 non-null  object
 5   hire_date   300024 non-null  object
dtypes: int64(1), object(5)
memory usage: 13.7+ MB

In [31]:
titles.nunique()

emp_no       300024
title             7
from_date      6393
to_date        5888
dtype: int64

In [22]:
titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443308 entries, 0 to 443307
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   emp_no     443308 non-null  int64
 1   title      443308 non-null  object
 2   from_date  443308 non-null  object
 3   to_date    443308 non-null  object
dtypes: int64(1), object(3)
memory usage: 13.5+ MB

In [32]:
salaries.nunique()

emp_no       300024
salary        50355
from_date      5481
to_date        5568
dtype: int64

In [23]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300024 entries, 0 to 300023
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   emp_no     300024 non-null  int64
 1   salary     300024 non-null  int64
 2   from_date  300024 non-null  object
 3   to_date    300024 non-null  object
dtypes: int64(2), object(2)
memory usage: 9.2+ MB