In [1]:
import pandas as pd

In [2]:
ret = pd.read_csv('unique_titles.csv')
ret = pd.read_csv('unique_titles.csv')

In [3]:
ret.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90398 entries, 0 to 90397
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   emp_no      90398 non-null  int64
 1   first_name  90398 non-null  object
 2   last_name   90398 non-null  object
 3   title       90398 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.8+ MB

In [4]:
ret.head()

   emp_no first_name last_name            title
0   10001     Georgi   Facello  Senior Engineer
1   10004  Chirstian   Koblick  Senior Engineer
2   10005    Kyoichi  Maliniak     Senior Staff
3   10006     Anneke   Preusig  Senior Engineer
4   10009     Sumant      Peac  Senior Engineer

In [13]:
ret_1 = ret.groupby('title').count().reset_index()[['title','emp_no']]

In [15]:
ret_1['percent'] = ret_1['emp_no'].map(lambda x: (x/300024 * 100))

In [16]:
ret_1

                title  emp_no   percent
0  Assistant Engineer    1761  0.586953
1            Engineer   14222  4.740287
2             Manager       2  0.000667
3     Senior Engineer   29414  9.803882
4        Senior Staff   28255  9.417580
5               Staff   12242  4.080340
6    Technique Leader    4502  1.500547

In [17]:
ret_1.percent.sum()

30.130256246166972

In [19]:
ret_1.sort_values('percent', ascending=False)

                title  emp_no   percent
3     Senior Engineer   29414  9.803882
4        Senior Staff   28255  9.417580
1            Engineer   14222  4.740287
5               Staff   12242  4.080340
6    Technique Leader    4502  1.500547
0  Assistant Engineer    1761  0.586953
2             Manager       2  0.000667

In [20]:
len(ret_1)

7

In [21]:
ret_1.emp_no.sum()

90398